$break-extra-large: 1600px;
$break-large: 1245px;
$break-medium: 880px;
$break-small: 700px;
$break-extra-small: 420px;

@mixin all-transitions
  +transition(.2s linear)

@mixin transition($transition...)
  -webkit-transition: #{$transition}
  transition: #{$transition}

@mixin transform($str...)
  -webkit-transform: $str
  transform: $str

@mixin transform-origin($str...)
  -webkit-transform-origin: $str
  transform-origin: $str

@mixin appearance($str...)
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none

@mixin keyframes($animation...)
  @-webkit-keyframes #{$animation}
    @content

  @keyframes #{$animation}
    @content

@mixin animation($str...)
  -webkit-animation: $str
  animation: $str