$break-extra-large: 1600px;
$break-large: 1245px;
$break-medium: 880px;
$break-small: 700px;
$break-extra-small: 420px;

@import 'compass/css3';
@import "compass/css3/transition";
@import "compass/css3/transform";