$break-extra-large: 1600px
$break-large: 1245px
$break-medium: 880px
$break-small: 700px
$break-extra-small: 420px

$background-color: #{"{{ theme.background_color }}"}
$primary-color: #{"{{ theme.primary_color }}"}
$highlight-color: #{"{{ theme.highlight_color }}"}
$accent-color: #{"{{ theme.accent_color }}"}

$header-font: #{"{{ theme.header_font | font_family }}"}
$text-font: #{"{{ theme.text_font | font_family }}"}