@import 'config';

.cart-header {
  border-bottom: 3px solid #{"{{theme.primary_color}}"};
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  font-weight: 700;
  overflow: hidden;
}
.link-continue,
.link-checkout {
  display: block;
  height: 20px;
  margin: 20px 0;
  position: relative;
}
.link-continue {
  float: left;
  padding-left: 40px;
}
.link-checkout {
  float: right;
  padding-right: 40px;
}
.icon-arrow-left,
.icon-arrow-right {
  font-size: 40px;
  line-height: 50px;
  display: block;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
}
.icon-arrow-left {
  left: 0;
}
.icon-arrow-right {
  right: 0;
}
.header-subtotal {
  float: right;
  display: block;
  height: 20px;
  margin: 20px 60px 20px 0;
}
.header-subtotal-number {
  display: block;
  float: right;
  font-size: 30px;
  line-height: 1.4em;
  position: relative;
  top: -12px;
  margin-left: 8px;
}
.cart-items {
  margin-bottom: 60px;
}
.cart-item {
  border-bottom: 3px solid #{"{{theme.primary_color}}"};
  overflow: hidden;
  width: 100%;
  height: 200px;
}
.cart-item-cell {
  float: right;
  height: 100%;
  display: table;
  vertical-align: middle;
}
.cart-item-image {
  width: 20%;
  text-align: center;
  background-color: #{"{{theme.accent_color}}"};
  background-size: cover;
  background-position: center center;
}
.cart-item-name {
  width: 36%;
  padding: 0 2%;
}
.cart-item-name h3 {
  display: table-cell;
  vertical-align: middle;
}
.cart-item-actions {
  width: 20%;
}
.cart-item-price {
  width: 20%;
}
.cart-item-quantity {
  color: #{"{{theme.primary_color}}"};
  background: #{"{{theme.highlight_color}}"};
  height: 50%;
}
.cart .quantity-controls {
  width: 30%;
  float: left;
  height: 100%;
  border-right: 3px solid #{"{{theme.primary_color}}"};
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}
.cart .quantity-decrement,
.cart .quantity-increment {
  font-size: 20px;
  line-height: 22px;
  width: 102%;
  height: 50%;
  display: table;
  text-align: center;
}
.cart .quantity-increment {
  border-bottom: 3px solid #{"{{theme.primary_color}}"};
}
.cart .quantity-decrement span,
.cart .quantity-increment span {
  display: table-cell;
  vertical-align: middle;
}
.cart .quantity-decrement:hover,
.cart .quantity-increment:hover {
  background: #{"{{theme.primary_color}}"};
  color: #{"{{theme.highlight_color}}"};
  cursor: pointer;
}
.cart-item-quantity input {
  width: 70%;
  float: left;
  height: 100%;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  color: #{"{{theme.primary_color}}"};
  background: none;
  padding: 0;
  border: none;
  outline: none;
}
.cart-item-remove {
  color: #{"{{theme.highlight_color}}"};
  background: #{"{{theme.primary_color}}"};
  width: 100%;
  height: 50%;
  text-align: center;
  display: table;
  cursor: pointer;
}
.icon-close {
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
  position: relative;
  top: 6px;
}
.cart-item-price {
  height: 100%;
  background: #{"{{theme.accent_color}}"};
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  display: table;
}
.cart-item-price-inner {
  display: table-cell;
  vertical-align: middle;
}
.cart-options {
  text-align: center;
  border-bottom: 3px solid #{"{{theme.primary_color}}"};
  margin-bottom: 60px;
}
.cart-options-item {
  float: left;
  width: 30%;
  padding: 0 10%;
  margin-bottom: 60px;
}
.cart-options-item p {
  margin-top: 10px;
}
.cart-options-item h3 {
  margin-bottom: 10px;
}
.discount-wrap input {
  width: 100%;
  outline: none;
  padding: 15px 100px 15px 15px;
  font-family: "#{"{{theme.text_font}}"}", sans-serif;
  font-size: 16px;
  color: #0000FF;
  border: 3px solid #{"{{theme.primary_color}}"};
  background: none;
  text-align: center;
  border-radius: 5px;
  margin: 0;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}
.discount-wrap input:focus {
  background: #{"{{theme.accent_color}}"};
}
.discount-wrap  {
  position: relative;
}
.discount-refresh {
  width: 55px;
  height: 12px;
  padding: 21px 15px;
  color: #{"{{theme.background_color}}"};
  background: #{"{{theme.primary_color}}"};
  text-transform: uppercase;
  letter-spacing: 0.09em;
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  right: 0;
  top: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
.discount-refresh:hover {
  color: #{"{{theme.highlight_color}}"};
}
.total {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}
.countries-wrap {
  display: block;
  margin: 0 auto;
  height: 55px;
  position: relative;
  z-index: 10;
}
.countries {
  border: 3px solid #{"{{theme.primary_color}}"};
  border-radius: 5px;
}
#country {
  display: none;
}
.country-selected {
  font-size: 15px;
  line-height: 22px;
  padding: 14px 15px 13px;
  cursor: pointer;
  position: relative;
}
.country-selected:hover {
  color: #{"{{theme.background_color}}"};
  background: #{"{{theme.primary_color}}"};
}
.country-selected-name {
  display: block;
  margin-right: 30px;
  font-size: 16px;
}
.country-list {
  background: #{"{{theme.background_color}}"};
  max-height: 200px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.country-list li {
  display: block;
  padding: 10px;
  cursor: pointer;
}
.country-list li:hover {
  background: #{"{{theme.primary_color}}"};
  color: #{"{{theme.background_color}}"};
}
.countries .dropdown-caret {
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -12px;
  text-transform: lowercase;
  font-size: 7px;
  display: block;
  font-weight: 700;
  -moz-transform: scalex(1.5);
  -ms-transform: scalex(1.5);
  -o-transform: scalex(1.5);
  -webkit-transform: scalex(1.5);
  transform: scalex(1.5);
}
.cart-btns {
  text-align: center;
  margin-bottom: 60px;
}
.cart-btns .btn {
  margin: 0 10px;
}
.grand-total {
  display: inline-block;
  font-size: 50px;
  font-weight: 700;
  margin: 10px 0;
}
.checkout-placeholder {
  margin-top: 100px;
}
.cart .errors {
  margin-bottom: 0;
  border-bottom: 3px solid #F72E2A;
  border-radius: 0;
}

/* EXTRA LARGE */
@media only screen and (min-width : $break-extra-large) {

}

/* LARGE */
@media only screen and (max-width : $break-large) {

  .cart .main .inner {
    margin-top: 78px;
  }
  .cart-options-item {
    width: 44%;
    padding: 0 3%;
  }

}

/* MEDIUM */
@media only screen and (max-width : $break-medium) {

  .cart-item-price {
    font-size: 20px;
  }

}

/* SMALL */
@media only screen and (max-width : $break-small) {

  .cart-item {
    height: auto;
  }
  .cart-item-cell {
    float: none;
    height: auto;
  }
  .cart-item-actions {
    height: 100px;
    width: 30%;
    float: left;
  }
  .cart-item-quantity input {
    font-size: 20px;
  }
  .icon-close {
    font-size: 20px;
    top: 2px;
  }
  .icon-close:before {
     content: "d"; 
  }
  .cart-item-price {
    height: 100px;
    width: 45%;
    float: left;
  }
  .cart-item-image-mobile {
    height: 100px;
    width: 25%;
    float: left;
    background-color: #{"{{theme.accent_color}}"};
    background-size: cover;
    background-position: center center;
  }
  .cart-item-name {
    width: 100%;
    padding: 20px;
    text-align: center;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
  }
  .total {
    width: 80%;
    padding: 0 10%;
  }
  .cart-items,
  .cart-options,
  .cart-btns {
    margin-bottom: 30px;
  }
  .cart-options-item {
    float: none;
    width: 80%;
    padding: 0 10%;
    margin-bottom: 30px;
  }

}

/* EXTRA SMALL */
@media only screen and (max-width : $break-extra-small) {

}