@import 'config';

/* ICON FONT
--------------------------------------------- */
@font-face {
  font-family: "icons";
  src:url(#{"{{ 'icons.eot' | theme_font_url }}"});
  src:url(#{"{{ 'icons.eot#iefix' | theme_font_url }}"}) format("embedded-opentype"),
    url(#{"{{ 'icons.woff' | theme_font_url }}"}) format("woff"),
    url(#{"{{ 'icons.ttf' | theme_font_url }}"}) format("truetype"),
    url(#{"{{ 'icons.svg' | theme_font_url }}"}) format("svg");
  font-weight: normal;
  font-style: normal;
}
 
[data-icon]:before {
  font-family: "icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 
.icon-cart:before {
   content: "a"; 
} 
.icon-menu:before {
   content: "b"; 
} 
.icon-close:before {
   content: "c"; 
} 
.icon-close-bold:before {
   content: "d"; 
} 
.icon-caret:before {
   content: "e"; 
} 
.icon-arrow-right:before {
   content: "f"; 
} 
.icon-arrow-left:before {
   content: "g"; 
}

/* TYPOGRAPHY
--------------------------------------------- */
body {
  color: #{"{{theme.primary_color}}"};
  font-family: "#{"{{theme.text_font}}"}", sans-serif;
  font-size: 62.5%;
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  cursor: default;
}
input,
textarea {
  color: #{"{{theme.primary_color}}"};
  font-family: "#{"{{theme.text_font}}"}", sans-serif;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #{"{{theme.primary_color}}"};
  text-decoration: none;
}
a:hover {
  color: #{"{{theme.primary_color}}"};
}
p,
.main ul,
.main ol,
.main table,
label {
  font-size: 16px;
  line-height: 24px;
}
.main p a {
  text-decoration: underline;
}
.main p a:hover {
  text-decoration: underline;
  background: #{"{{theme.highlight_color}}"};
}
h1, h2, h3 {
  font-family: "#{"{{theme.header_font}}"}", sans-serif;
}
h1 {
  font-size: 80px;
  line-height: 1.4em;
  margin: 0 0 30px;
  text-align: center;
}
h2 {
  font-size: 30px;
  line-height: 1.4em;
}
h3 {
  font-size: 22px;
  line-height: 1.4em;
}
h4 {
  font-size: 12px;
  line-height: 1.3em;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  font-weight: 700;
}
.highlight {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #{"{{theme.primary_color}}"};
  background: #{"{{theme.highlight_color}}"};
  padding: 6px 12px;
  border-radius: 5px;
}
ul.bullets {
  font-size: 15px;
  line-height: 22px;
  margin-left: 18px;
}
ul.bullets li {
  list-style: disc;
}

/* GLOBAL LAYOUT
--------------------------------------------- */
html, body {
  height: 100%;
}
body {
  background-color: #{"{{theme.background_color}}"};
  background-image: #{"{% if theme.images.background != blank %} url(\"{{ theme.images.background.url }}\") {% else %} none {% endif %}"};
}
.wrapper {
  overflow: hidden;
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -80px; 
}
.wrapper:after {
  content: "";
  display: block;
  /* equal to footer height */
  height: 80px;
}
.inner {
  max-width: 1480px;
  min-width: 280px;
  margin: 0 60px;
  position: relative;
}
.main .inner {
  margin-top: 130px;
}

/* MODULES
--------------------------------------------- */

/* Buttons */
.btn {
  display: inline-block;
  padding: 15px 20px;
  font-family: "#{"{{theme.text_font}}"}", sans-serif;
  font-size: 20px;
  line-height: 22px;
  color: #{"{{theme.primary_color}}"};
  border: 3px solid #{"{{theme.primary_color}}"};
  background: none;
  text-align: center;
  border-radius: 5px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:hover {
  background: #{"{{theme.primary_color}}"};
  color: #{"{{theme.background_color}}"};
}
.btn-inactive:hover {
  background: none;
  color: #{"{{theme.primary_color}}"};
}

/* Badges */
.badge {
  height: 80px;
  width: 80px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 70px;
  display: table;
}
.badge span {
  display: table-cell;
  vertical-align: middle;
}
.badge-empty {
  color: #{"{{theme.primary_color}}"};
  border: 3px solid #{"{{theme.primary_color}}"};
}
.badge-filled {
  color: #{"{{theme.primary_color}}"};
  background: #{"{{theme.background_color}}"};
  border: 3px solid #{"{{theme.background_color}}"};
}

/* Errors */
.errors {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  background: #{"{{theme.highlight_color}}"};
}
.errors li {
  margin-top: 10px;
}
.errors li:first-child {
  margin-top: 0;
}

/* HEADER
--------------------------------------------- */
header {
  background: #{"{{theme.background_color}}"};
  border-bottom: 6px solid #{"{{theme.primary_color}}"};
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;
  @include single-transition(background, 200ms);
}
header .inner {
  height: 70px;
  position: relative;
}
.wordmark {
  float: left;
  font-family: "#{"{{theme.header_font}}"}", sans-serif;
  font-size: 22px;
  line-height: 30px;
  margin-top: 24px;
}
.logo {
  display: block;
  float: left;
  height: 70px;
  width: 300px;
  background-image: #{"{% if theme.images.logo != blank %} url(\"{{ theme.images.logo.url }}\") {% else %} none {% endif %}"};
  background-size: contain;
  background-position: center left;
  background-repeat: no-repeat;  
}
.logo img {
  height: 100%;
  width: auto;
}
.nav-main {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 70px;
  z-index: 500;
}
.nav-main a,
.nav-main > ul > li > span {
  font-size: 12px;
  color: #{"{{theme.primary_color}}"};
  text-transform: uppercase;
  letter-spacing: 0.09em;
  font-weight: 700;
}
.nav-main > ul {
  float: left;
  display: block;
  height: 70px;
}
.nav-main > ul > li {
  float: left;
  display: block;
  list-style: none;
  position: relative;
}
.nav-main > ul > li > a,
.nav-main > ul > li > span {
  display: block;
  height: 12px;
  padding: 29px 25px;
}
.nav-main > ul > li.active > a,
.nav-main > ul > li.active > span {
  background: #{"{{theme.primary_color}}"};
  color: #{"{{theme.background_color}}"};
}
.nav-main .dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 70px;
  padding: 6px 0 0 0;
  right: 0px;
  background: #{"{{theme.primary_color}}"};
  text-align: right;
  overflow: hidden;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.nav-main > ul > li.active .dropdown {
  visibility: visible;
  opacity: 1;
}
.icon-cart {
  font-size: 40px;
}
.nav-main .dropdown li {
  display: block;
  line-height: 18px;
}
.nav-main .dropdown li a {
  display: block;
  color: #{"{{theme.background_color}}"};
  padding: 15px 20px;
  min-width: 200px;
}
.nav-main .dropdown li a:hover {
  color: #{"{{theme.background_color}}"};
  background: #{"{{theme.highlight_color}}"};
  color: #{"{{theme.primary_color}}"};
}
.nav-caret {
  text-transform: lowercase;
  font-size: 7px;
  position: relative;
  display: inline-block;
  top: -2px;
  @include scaleX(1.5);
}
.mobile-nav-trigger {
  display: none;
}
.cart-status {
  float: left;
  padding: 0;
  width: 70px;
  height: 70px;
  @include scale(1);
  @include single-transition(all, 100ms, ease-in-out);
}
@-webkit-keyframes orbpulse {
  0%   { -webkit-transform: scale(1); }
  25% { -webkit-transform: scale(2); }
  50%   { -webkit-transform: scale(1); } 
  75% { -webkit-transform: scale(1.2); }
  100%   { -webkit-transform: scale(1); }
}
@-moz-keyframes orbpulse {
  0%   { -moz-transform: scale(1); }
  25% { -moz-transform: scale(2); }
  50%   { -moz-transform: scale(1); } 
  75% { -moz-transform: scale(1.2); }
  100%   { -moz-transform: scale(1); }
} 
@-o-keyframes orbpulse {
  0%   { -o-transform: scale(1); }
  25% { -o-transform: scale(2); }
  50%   { -o-transform: scale(1); } 
  75% { -o-transform: scale(1.2); }
  100%   { -o-transform: scale(1); }
}
@keyframes orbpulse {
  0%   { transform: scale(1); }
  25% { transform: scale(2); }
  50%   { transform: scale(1); } 
  75% { transform: scale(1.2); }
  100%   { transform: scale(1); }
} 
.cart-orb {
  height: 60px;
  width: 60px;
  border-radius: 80px;
  background: #{"{{theme.highlight_color}}"};
  position: absolute;
  top: 5px;
  right: 5px;
  position: absolute;
  z-index: 505;
  @include single-transition(transform, 100ms, ease-in-out);
}
.cart-status .cart-orb {
  @include scale(0);
  @include single-transition(transform, 100ms, ease-in-out);
}
.cart-status:hover .cart-orb {
  @include scale(1.6);
  @include single-transition(transform, 100ms, ease-out);
}
/* Disable orb on cart pages */
.cart .cart-status:hover .cart-orb {
  display: none;
}
.cart-count {
  display: block;
  text-align: center;
  margin-top: 16px;
  margin-bottom: -2px;
  padding-right: 5px;
  position: relative;
  z-index: 510;
  @include single-transition(all, 100ms);
}
.icon-cart {
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  position: relative;
  top: -4px;
  z-index: 510;
}
.cart-status .cart-count-animate {
  @include translate(0,16px);
  @include single-transition(all, 100ms);
}
.cart-status .cart-orb-animate {
  @include scale(1.6);
  @include single-transition(transform, 150ms, ease-out);
}
.nav-mobile {
  display: none;
}

/* FOOTER
--------------------------------------------- */
footer {
  background: #{"{{theme.primary_color}}"};
  font-size: 12px;
  line-height: 1.3em;
  color: #{"{{theme.background_color}}"};
  text-transform: uppercase;
  letter-spacing: 0.09em;
  font-weight: 700;
  position: relative;
  z-index: 500;
}
footer a {
  color: #{"{{theme.background_color}}"};
}
footer a:hover {
  color: #{"{{theme.highlight_color}}"};
}
footer .inner {
  min-height: 12px;
  padding: 34px 0;
}
footer .copyright {
  float: left;
}
footer .footer-text {
  float: right;
}

/* DOM MODS
--------------------------------------------- */
.visible-phone { display: none !important ; }
.visible-tablet { display: none !important ; }
.visible-desktop { display: inherit !important ; }
.hidden-phone { display: inherit !important; }
.hidden-tablet { display: inherit !important; }
.hidden-desktop { display: none !important; }


/* EXTRA LARGE */
@media only screen and (min-width : $break-extra-large) {

  .inner {
    margin-left: auto;
    margin-right: auto;
  }

}

/* LARGE */
@media only screen and (max-width : $break-large) {

  /* Global */
  .inner {
    margin-left: 30px;
    margin-right: 30px;
  }
  .main .inner {
    margin-top: 130px;
  }
    
  /* Typography */
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 20px;
    line-height: 1.5em;
  }
  h3 {
    font-size: 18px;
    line-height: 1.7em;
  }
  
  /* DOM mods */
  .visible-phone { display: none !important ; }
  .visible-tablet { display: inherit !important ; }
  .visible-desktop { display: none !important ; }
  .hidden-phone { display: inherit !important; }
  .hidden-tablet { display: none !important; }
  .hidden-desktop { display: inherit !important; }

}

/* MEDIUM */
@media only screen and (max-width : $break-medium) {

  /* Global */
  .main .inner {
    margin-top: 50px;
  }
    
  /* Typography */
  h3 {
    font-size: 16px;
  }
  
  /* Modules */
  .btn {
    padding: 15px 30px;
    font-size: 16px;
  }  
  
  /* Header */
  header {
    position: relative;
  }
  header .inner {
    height: 70px;
  }
  .logo {
    width: 160px;
  }
  .wordmark {
    margin-top: 24px;
  }
  .nav-main {
    height: 70px;
  }
  .nav-main ul {
    display: none;
  }
  .mobile-nav-trigger {
    display: block;
    float: left;
    height: 70px;
    width: 50px;
  }
  .icon-menu {
    display: block;
    font-size: 30px;
    width: 30px;
    margin: 22px auto 0;
  }
  .cart-status {
    height: 70px;
    width: 50px;
  }
  .cart-orb {
    width: 60px;
    height: 60px;
    top: 5px;
    right: -4px;
  }
  .icon-cart {
    top: -4px;
  }
  .nav-mobile {
    position: absolute;
    top: 70px;
    width: 100%;
    background: #{"{{theme.primary_color}}"};
  }
  .nav-mobile > ul {
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
  }
  .nav-mobile li {
    margin-top: 5px;
  }
  .nav-mobile li:first-child {
    margin-top: 0;
  }
  .nav-mobile a {
    display: block;
    padding: 16px 0;
    background: #{"{{theme.background_color}}"};
    color: #{"{{theme.primary_color}}"};
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
  }
  .nav-mobile a:hover {
    color: #{"{{theme.primary_color}}"};
    background: #{"{{theme.highlight_color}}"};
  }
  .nav-mobile li > ul {
    display: none;
    margin-top: 0;
  }
  .nav-mobile li > ul li {
    margin-top: 0;
    border-top: 3px solid #{"{{theme.background_color}}"};
  }
  .nav-mobile li > ul li:first-child {
    border-top: none;
  }
  .nav-mobile li > ul a {
    background: none;
    color: #{"{{theme.background_color}}"};
  }
  
}

/* SMALL */
@media only screen and (max-width : $break-small) {

  /* Typeography */
  h1 {
    font-size: 34px;
  }

  /* Global */
  .inner {
    margin-left: 20px;
    margin-right: 20px;
  }
  .main .inner {
    margin-top: 40px;
  }
  .home .main .inner {
    margin-left: 0;
    margin-right: 0;
  }
  footer .inner {
    min-height: 34px;
    padding: 24px 0;
    text-align: center;
  }
  header .inner {
    margin-right: 10px;
  }
  
  /* Modules */
  .highlight {
    font-size: 16px;
  }
  .badge-view {
    display: none;
  }
      
  /* Footer */
  footer .copyright,
  footer .footer-text {
    float: none;
    display: block;
  }
  footer .footer-text {
    margin-top: 10px;
  }
 
  /* DOM mods */
  .visible-phone { display: inherit !important ; }
  .visible-tablet { display: none !important ; }
  .visible-desktop { display: none !important ; }
  .hidden-phone { display: none !important; }
  .hidden-tablet { display: inherit !important; }
  .hidden-desktop { display: inherit !important; }

}

/* EXTRA SMALL */
@media only screen and (max-width : $break-extra-small) {
  
}
