@import 'config'

.product .main .inner
  margin-top: 76px

.product .wrapper
  overflow: hidden

.product .images
  float: right
  width: 66%
  background-color: $accent-color
  background-image: #{"{% if theme.images.accent != blank %} url(\"{{ theme.images.accent.url }}\") {% else %} none {% endif %}"}

.product .images-inner
  position: relative

.product .color-block
  width: 2000%
  height: 2000%
  position: absolute
  top: 0
  left: 0
  background-color: $accent-color
  background-image: #{"{% if theme.images.accent != blank %} url(\"{{ theme.images.accent.url }}\") {% else %} none {% endif %}"}
  z-index: -1

.slideshow
  position: relative
  overflow: hidden
  background-color: $accent-color
  background-image: #{"{% if theme.images.accent != blank %} url(\"{{ theme.images.accent.url }}\") {% else %} none {% endif %}"}

.slideshow img
  display: block
  width: auto
  max-width: 100%

.product-form
  margin-top: 30px

.product .details
  float: left
  margin-bottom: 40px
  width: 29%

.product h2
  margin: 50px 0 0 0

.product h4
  margin: 0 0 15px 0

.product .description
  margin: 30px 0 0 0

.product .errors
  margin: 30px 0 0 0

.product-quantity
  display: none

.product .description b,
.product .description strong
  font-weight: bold

.product .description i,
.product .description em
  font-style: italic

.static-option-list
  margin-bottom: 30px

.product .description p
  margin-bottom: 20px

.product .description p:last-child
  margin-bottom: 0

.badge-sale
  position: absolute
  top: 30px
  left: 30px
  z-index: 400

.product .price
  display: inline-block
  margin-top: 15px

.purchase
  margin-top: 30px

.social-links
  overflow: hidden
  margin-top: 30px
  margin-bottom: 15px

.social-links li
  float: left
  margin: 0 10px 10px 0

.social-links li a
  display: block
  background: $primary-color
  color: $background-color
  text-transform: uppercase
  font-weight: 700
  font-size: 12px
  letter-spacing: 0.09em
  padding: 5px 10px
  border-radius: 5px
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.social-links li a:hover
  color: $highlight-color

#instant-checkout-button
  box-sizing: border-box
  margin-top: 12px

@-webkit-keyframes purchasepulse
  0%
    -webkit-transform: scale(1)
  50%
    -webkit-transform: scale(1.2)
  100%
    -webkit-transform: scale(1)

@-moz-keyframes purchasepulse
  0%
    -moz-transform: scale(.95)
  50%
    -moz-transform: scale(1.2)
  100%
    -moz-transform: scale(1)

@keyframes purchasepulse
  0%
    transform: scale(.95)
  50%
    transform: scale(1.2)
  100%
    transform: scale(1)

.btn-purchase
  display: block
  +transform(scale(1))
  +transition(transform 100ms ease-in-out)
  font-size: 16px
  padding-left: 10px
  padding-right: 10px
  width: 100%

.reset-selection-button-container
  text-align: center
  width: 100%

button.reset-selection-button
  display: none
  height: auto
  max-width: 100%
  line-height: normal
  margin: 20px auto 0
  padding: 4px
  width: auto

.btn-active:active
  +transform(scale(.95))
  +transition(transform 50ms ease-in-out)

.btn-pulse
  +transform(scale(1.2))
  +transition(transform 100ms ease-in-out)

.btn-inactive:hover
  background: none
  color: $primary-color
  cursor: default

/* LARGE */
@media only screen and (max-width : $break-large)

  .product .details
    width: 32%

  .product .images
    width: 63%

  .product .main .inner
    margin-right: 0

  .product h2
    margin-top: 30px


/* SMALL */
@media only screen and (max-width : $break-medium)

  .product .details,
  .product .images
    float: none
    width: auto

  .product .images
    width: 100%

  .product .images-inner
    display: block

  .product .details
    text-align: center
    margin: 0 20px 20px 20px

  .product .description,
  .product .bullets
    text-align: left

  .product .color-block
    display: none

  .product .main .inner
    margin: 0

  .badge-sale
    top: 20px
    left: 20px

  .slideshow
    max-width: 400px
    margin: 0 auto

