<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.name }} | {{ store.name }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="{{ theme | theme_css_url }}" media="screen" rel="stylesheet" type="text/css">
    {{ head_content }}
  </head>

  <body class="{{ page.permalink }} {{ page.category }}">

    <div class="wrapper">
      <header>
        <div class="inner clear">
          {% if theme.images.logo.url != blank %}
            <a class="logo" href="/" title="Home"></a>
          {% else %}
            <a class="wordmark" href="/" data-store-name="{{ store.name | escape }}">{{ store.name }}</a>
          {% endif %}
          <div class="main-nav header-nav-container" role="navigation" aria-label="Main menu">
            <ul class="nav" role="menubar" aria-hidden="false">
              <li role="menuitem" {% if categories.active != blank or artists.active != blank %}aria-haspopup="true"{% endif %}>
                {% if categories.active != blank or artists.active != blank %}
                  <a href="#">{{ pages.products.name }} <svg viewBox="0 0 15 7.6" enable-background="new 0 0 15 7.6"><path d="M15 1.1l-7.5 6.5-7.5-6.3 1-1.2 6.5 5.5 6.5-5.6z"/></svg></a>
                {% else %}
                  <a href="/products">{{ pages.products.name }}</a>
                {% endif %}
                {% if categories.active != blank or artists.active != blank %}
                  <ul data-test="true" aria-hidden="true" role="menu" class="">
                    <li role="menuitem"><a href="/products" tabindex="-1">View All</a></li>
                    {% if categories.active != blank %}
                      {% for category in categories.active %}
                        <li role="menuitem"><a href="{{ category.url }}" tabindex="-1">{{ category.name }}</a></li>
                      {% endfor %}
                    {% endif %}
                    {% if artists.active != blank %}
                      {% for artist in artists.active %}
                        <li role="menuitem"><a href="{{ artist.url }}" tabindex="-1">{{ artist.name }}</a></li>
                      {% endfor %}
                    {% endif %}
                  </ul>
                {% endif %}
              </li>
              {% if pages.all != blank or store.website != blank %}
                <li role="menuitem" aria-haspopup="true">
                  <a href="#">Pages <svg viewBox="0 0 15 7.6" enable-background="new 0 0 15 7.6"><path d="M15 1.1l-7.5 6.5-7.5-6.3 1-1.2 6.5 5.5 6.5-5.6z"/></svg></a>
                  <ul data-test="true" aria-hidden="true" role="menu" class="">
                    {% for page in pages.all %}
                      <li role="menuitem"><a href="{{ page.url }}" title="View {{ page.name | escape }}">{{ page.name }}</a></li>
                    {% endfor %}
                    {% if store.website != blank %}
                      <li role="menuitem"><a href="{{ store.website }}" tabindex="-1">Back to site</a></li>
                    {% endif %}
                  </ul>
                </li>
              {% endif %}
              <li role="menuitem" aria-haspopup="false">
                <a href="/contact" title="Contact">Contact</a></li>
              </li>
            </ul>
          </div>
          <div class="secondary-nav">
            <a href="#" class="open-mobile-nav" title="Mobile navigation">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path d="M2 4h28v4h-28zM2 12h28v4h-28zM2 20h28v4h-28z"></path></svg>
            </a>

            <a href="/cart" class="cart-status" title="View Cart" tabindex="0">
              <span class="cart-count">{{ cart.item_count }}</span>
              <svg class="icon-cart" version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path d="M21.875 7.438l1.625-4.75h5.625v1.563h-4l-4 11.188c4.25 0 4.25 5.625 0 5.625h-15.25v-1.625h15.25c2.125 0 2.125-2.375 0-2.375h-16l-1.625-9.625zM10.688 24.25c0-0.875-0.688-1.563-1.563-1.563-0.938 0-1.625 0.688-1.625 1.563s0.688 1.625 1.625 1.625c0.875 0 1.563-0.75 1.563-1.625M20.313 24.25c0-0.875-0.75-1.563-1.625-1.563s-1.563 0.688-1.563 1.563c0 0.875 0.688 1.625 1.563 1.625s1.625-0.75 1.625-1.625"></path></svg>
              <div class="cart-orb" {% if cart.item_count == 0 %}style="display: none;"{% endif %}></div>
            </a>
          </div>
        </div>
      </header>

      {% if page.category == 'custom' %}
        <section class="main clear">
          <div class="inner format-text clear">
            <h1>{{ page.name }}</h1>
            {{ page_content | paragraphs }}
          </div>
        </section>
      {% else %}
        {{ page_content }}
      {% endif %}

    </div><!-- End wrapper -->

    <footer>
      <div class="inner">
        {% if theme.twitter_url != blank or theme.facebook_url != blank or theme.instagram_url != blank or theme.tumblr_url != blank or theme.pinterest_url != blank %}
          <ul class="social_links">
            {% if theme.twitter_url != blank %}
              <li><a title="Twitter" href="{{ theme.twitter_url }}"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 150.857 612 490.298"><path d="M606 209c-22.2 9.7-46 16.4-70.8 19.4 25.4-15.3 45-39.6 54-68.5-23.7 14-50 24-78 30-22.5-24-54.4-39-89.8-39-68 0-123 55-123 123 0 9.3 1 19 3 28-102.2-5-192.8-54-253.4-129-11 18.3-17 39.5-17 62.2 0 43 21.5 81 54.6 103-20.2-.6-39.2-6-55.8-15.4v2c0 60 42.3 110 98.6 121.2-10.4 3-21.3 4.6-32.5 4.6-8 0-16-1-23-2.5 15 49.3 61 85 115 86-42 33.3-96 53-153 53-10 0-20-.5-30-1.7 55 35 119.5 55.5 189 55.5 226.3 0 350-188.5 350-352 0-5.5 0-10.8-.3-16 24-17.6 45-39.4 61.4-64z"/></svg></a></li>
            {% endif %}
            {% if theme.facebook_url != blank %}
              <li><a title="Facebook" href="{{ theme.facebook_url }}"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="157.162 90 297.799 612"><path d="M369.036 193.795h85.68V90H333.662c-97.553 19.707-98.776 108.936-98.776 108.936V304.69h-77.724v102.937h77.724V702H343.21V407.383h102.08l9.67-102.938H343.945v-75.52c-.123-33.172 25.092-35.13 25.092-35.13z"/></svg></a></li>
            {% endif %}
            {% if theme.instagram_url != blank %}
              <li><a title="Instagram" href="{{ theme.instagram_url }}"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 90 612 612"><path d="M540.273 90H71.727C32.19 90 0 122.19 0 161.727v468.67C0 669.81 32.19 702 71.727 702h468.67c39.535 0 71.726-32.19 71.726-71.727V161.727C612 122.313 579.687 90 540.273 90zM306 280.332c63.893 0 115.668 51.775 115.668 115.668S369.893 511.668 306 511.668 190.332 459.893 190.332 396 242.107 280.332 306 280.332zM542.232 608.12c0 13.096-10.77 23.867-23.868 23.867H92.412c-13.097 0-23.868-10.77-23.868-23.868V348.51h56.304c-3.917 15.177-6.12 31.21-6.12 47.49 0 103.55 83.966 187.272 187.272 187.272S493.272 499.552 493.272 396c0-16.524-2.204-32.313-6.12-47.49h55.08v259.61zm0-353.002c0 13.097-10.77 23.868-23.868 23.868h-69.77c-13.096 0-23.867-10.77-23.867-23.868V185.35c0-13.097 10.77-23.868 23.868-23.868h69.77c13.096 0 23.867 10.77 23.867 23.868v69.768z"/></svg></a></li>
            {% endif %}
            {% if theme.tumblr_url != blank %}
              <li><a title="Tumblr" href="{{ theme.tumblr_url }}"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="117.504 90 377.114 611.937"><path d="M493.272 571.276c-14.566 13.832-55.692 26.194-55.692 26.194-115.18 27.907-107.957-66.464-107.957-66.464v-189.72h144.31v-96.818h-144.31V90H241.74c-11.383 139.658-124.236 164.628-124.236 164.628v87.394h67.81v224.604c-.98 62.424 36.475 92.656 36.475 92.656 115.055 89.964 272.83 9.67 272.83 9.67v-99.02l-1.348 1.344z"/></svg></a></li>
            {% endif %}
            {% if theme.pinterest_url != blank %}
              <li><a title="Pinterest" href="{{ theme.pinterest_url }}"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 12 16"><path d="M4.933 10.582c-.406 2.203-.9 4.314-2.366 5.418-.452-3.33.665-5.83 1.183-8.484C2.866 6 3.9 2.9 5.7 3.63c2.315.97-2 5.77.9 6.34 3 .6 4.225-5.4 2.365-7.36C6.285-.22 1.1 2.5 1.8 6.596c.154 1 1.1 1.3.4 2.658C.48 8.858-.034 7.45.032 5.574.138 2.504 2.692.352 5.255.054c3.24-.376 6.3 1.2 6.7 4.396.473 3.568-1.462 7.433-4.927 7.2C6.063 11.5 5.7 11 4.9 10.582z"/></svg></a></li>
            {% endif %}
          </ul>
        {% endif %}
        <span class="footer-text">{{ bigcartel_credit }}</span>
      </div>
    </footer>

    {% if page.permalink == 'home' or  page.permalink == 'products' %}
      <div class="color-block-products"></div>
    {% endif %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ 'api' | theme_js_url }}"></script>
    <script src="{{ theme | theme_js_url }}"></script>
    {% if page.full_url contains '/product/' %}
      <script>
        var show_sold_out_product_options = '{{ theme.show_sold_out_product_options }}';
        Product.find('{{ product.permalink }}', processProduct)
      </script>
    {% endif %}
  </body>
</html>
