<!DOCTYPE html>
<html>
  <head>
    <title>{{ store.name }} &mdash; {{ page.name }}</title>

    <meta charset="utf-8">
    <meta name="description" content="{{ page.meta_description }}">
    <meta name="keywords" content="{{ page.meta_keywords }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <!-- Social Meta Tags -->
    <meta property="og:title" content="{{ store.name }} &mdash; {{ page.name }}" />
    <meta property="og:type" content="product" />
    {% if page.permalink == 'product' %}
      <meta property="og:description" content="{{ page.meta_description }}" />
      <meta property="og:url" content="{{ store.url }}{{ product.url }}" />
      <meta property="og:image" content="{{ product.images.first.url }}" />
    {% else %}
      {% if store.description != blank %}
        <meta property="og:description" content="{{ store.description }}" />
      {% else %}
        <meta property="og:description" content="{{ page.meta_description }}" />
      {% endif %}
      <meta property="og:url" content="{{ store.url }}{{ page.url }}" />
    {% endif %}

  	<!-- Google Fonts -->
  	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Cutive' rel='stylesheet' type='text/css'>
  	
  	<!-- Styles -->
    <link href="{{ theme | theme_css_url }}" media="screen" rel="stylesheet" type="text/css">
  
    <!-- Scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ 'api' | theme_js_url }}" type="text/javascript"></script>
    <script src="{{ theme | theme_js_url }}" type="text/javascript"></script>
  
    {{ head_content }}
  
  </head>

  <body class="{{ page.permalink }} {{ page.category }}">
    <div class="wrapper">
      <header>
        <div class="inner clear">
          {% if theme.logo.url != blank %}
            <a class="logo" href="/"></a>
          {% else %}
            <a class="wordmark" href="/" data-store-name="{{ store.name | escape }}">{{ store.name }}</a>
          {% endif %}
          <nav class="nav-main">
            <ul class="clear">
              {% if categories.all != blank %}
                <li>
                <a class="dropdown-trigger" href="/products">Products <span class="nav-caret">v</span></a>
                <ul class="dropdown">
                <li><a href="/products">View All</a></li>
                {% for category in categories.all %}
                  <li><a href="{{ category.url }}">{{ category.name }}</a></li>
                {% endfor %}
                </ul>
                </li>
              {% endif %}
              {% if artists.all != blank %}
                <li>
                <span class="dropdown-trigger">Artists <span class="nav-caret">v</span></span>
                <ul class="dropdown">
                {% for artist in artists.all %}
                  <li><a href="{{ artist.url }}">{{ artist.name }}</a></li>
                {% endfor %}
                </ul>
                </li>
              {% endif %}
              {% if pages.all != blank %}
                <li>
                <span class="dropdown-trigger">Pages <span class="nav-caret">v</span></span>
                <ul class="dropdown">
                {% for page in pages.all %}
                  <li><a href="{{ page.url }}">{{ page.name }}</a></li>
                {% endfor %}
                </ul>
                </li>
              {% endif %}
              <li><a href="/contact">Contact</a></li>
              <li class="mobile-nav-trigger"><a href="#"><span class="icon-menu"></span></a></li>
              <li class="cart-status">
                <a href="/cart">
                  <span class="cart-count">{{ cart.item_count }}</span>
                  <span class="icon-cart"></span>
                </a>
              </li>
            </ul>
          </nav>
          <div class="cart-orb" {% if cart.item_count == 0 %}style="display: none;"{% endif %}></div>
        </div>
        <nav class="nav-mobile clear">
          <ul>
            <li><a href="/">Home</a></li>
            {% if categories.all != blank %}
                <li>
                <a class="accordion-trigger" href="#">Products <span class="nav-caret">v</span></a>
                <ul class="accordion">
                <li><a href="/products">View All</a></li>
                {% for category in categories.all %}
                  <li><a href="{{ category.url }}">{{ category.name }}</a></li>
                {% endfor %}
                </ul>
                </li>
              {% endif %}
              {% if artists.all != blank %}
                <li>
                <a class="accordion-trigger" href="#">Artists <span class="nav-caret">v</span></a>
                <ul class="accordion">
                {% for artist in artists.all %}
                  <li><a href="{{ artist.url }}">{{ artist.name }}</a></li>
                {% endfor %}
                </ul>
                </li>
              {% endif %}
              {% if pages.all != blank %}
                <li>
                <a class="accordion-trigger" href="#">Pages <span class="nav-caret">v</span></a>
                <ul class="accordion">
                {% for page in pages.all %}
                  <li><a href="{{ page.url }}">{{ page.name }}</a></li>
                {% endfor %}
                </ul>
                </li>
              {% endif %}
              <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
      </header>
      
      <section class="main clear">
    
          {% if page.category == 'custom' %}
            <div class="inner format-text clear">
              <h1>{{ page.name }}</h1>
            {{ page_content | paragraphs }}
            </div>
          {% else %}
            <div class="inner clear">
              {{ page_content }}
            </div>
          {% endif %}
        
      </section>
    
    </div><!-- End wrapper -->
    
    <footer>
      <div class="inner">
        <span class="copyright">Copyright 2014 <a href="{{ store.website }}">{{ store.name }}</a></span>        
        <span class="footer-text">{{ bigcartel_credit }}</span>
      </div>
    </footer>
    
    {% if page.permalink == 'home' or  page.permalink == 'products' %}
    <div class="color-block-products"></div>
    {% endif %}
    
  </body>
</html>